.text-input{
    -fx-background-radius: 4;
}

.label1{
    -fx-text-fill: #522b65;
}

.label1:hover{
    -fx-underline: true;
    -fx-cursor: hand;
}

.button1{
    -fx-text-fill: #3f1448;
    -fx-background-radius: 14;
    -fx-background-color: linear-gradient(to left, #9D50BB, #C9FFBF);
    -fx-border-color: #3f1448;
    -fx-border-radius: 14;
}

.button1:hover {
    -fx-background-color: #C9FFBF;
    -fx-cursor: hand;
}

.linear-grad {
    -fx-background-color: linear-gradient(to bottom left, #C9FFBF, #9D50BB);
}