.text-input{
    -fx-background-radius: 4;
}

.label1{
    -fx-text-fill: #522b65;
}

.label1:hover{
    -fx-underline: true;
    -fx-cursor: hand;
}

.button1{
    -fx-text-fill: #1f1a30;
    -fx-background-radius: 16;
    -fx-background-color: #00e0d6;
    -fx-border-color: #1f1a30;
    -fx-border-radius: 14;
}

.button1:hover {
    -fx-background-color: #00fff4;
    -fx-cursor: hand;
}

.linear-grad {
    -fx-background-color: linear-gradient(to bottom left, #0df6e3, #1f1a30);
}